<!-- 
<div>
  <div>
    <app-header></app-header>
  </div>
</div>

<div>
  <div>
    <app-trending></app-trending>
  </div>
</div>


<router-outlet></router-outlet>

<div>
  <div>
    <app-footer></app-footer>
  </div>
</div>


<div>
  <div>
    <app-orderhistory></app-orderhistory>
  </div>
</div> -->

<!-- <div>
    <div> <app-restaurant></app-restaurant></div>
  </div> -->


<!-- <div>
    <div> <app-login></app-login></div>
  </div>

  <div>
      <div>
        <app-orderhistory></app-orderhistory>
      </div>
    </div> -->

    <div>
        <div>
          <app-header></app-header>
        </div>
      </div>
    <!-- <ul>
        <li>
            <h2><a [routerLink]="['/login']">Home</a></h2>
        </li>
        <li>
            <h2><a [routerLink]="['/hotels']">Hotels</a></h2>
        </li>
        <li>
          <h2><a [routerLink]="['/history']">My Orders</a></h2>
        </li>
        <li>
            <h2><a [routerLink]="['/register']">Register</a></h2>
          </li>
      </ul> -->
<router-outlet></router-outlet>