
<br>

<div class="container">
    <div class='col-md-8' *ngIf='showForm'>
    <h1 class="form-heading">Enter the Details in the Form</h1>
  
    <div class="main-div">
        <div class="panel">
<form [formGroup]='restForm' (ngSubmit)='submit()' >

    <div class="form-group"><label for="">Id: </label><input  type="text" class="form-control col-4" formControlName="id"></div>
    <div class="form-group"><label for="">Name: </label><input type="text" class="form-control col-4" formControlName="name"></div>
    <div class="form-group"><label for="">Description: </label><input type="text" class="form-control col-4" formControlName="description"></div>
    <div class="form-group"><label for="">Cuisine:</label><input type="text" class="form-control col-4" formControlName="cuisine"></div>
    <div class="form-group"><label for="">Photo: </label><input type="text" class="form-control col-4" formControlName="photo"></div>
    <div class="form-group"><label for="">Price Level: </label><input type="text" class="form-control col-4" formControlName="priceLevel"></div>
    <div class="form-group"><label for="">Owner Email: </label><input type="text" class="form-control col-4" formControlName="owner_email"></div>
    <div class="form-group"><label for=""></label><input  class="btn btn-primary" type="submit" value="Add" ></div>
    
</form>

</div>
</div>
</div>





<table class="table table-dark table-striped">
  <thead>  
  <tr>
      <div  *ngIf='HideButton'>
        <th><button  class='fa fa-plus' type="submit" (click)='changeFormStatus()' > </button></th> 
      </div>
    </tr>
    
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>cuisine</th>
      <th>photo</th>
      <th>priceLevel</th>
      <th>owner_email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor= "let eachOrder of restinfo">
      <td>{{eachOrder.id}}</td>
      <td>{{eachOrder.name }}</td>
      <td>{{eachOrder.description }}</td>
      <td>{{eachOrder.cuisine }}</td>
      <td>{{eachOrder.photo }}</td>
      <td>{{eachOrder.priceLevel }}</td>
      <td>{{eachOrder.owner_email | uppercase}}</td>      
      <td><button  class="fa fa-edit" type="submit" (click)='edit(eachOrder)' > </button></td>
      <td><button  class="fa fa-remove" type="submit" (click)='remove(eachOrder)' > </button></td>      
    </tr>
    
  </tbody>
</table>
</div>





<br>